.avatar {
    border-radius: 50%;
    overflow: hidden;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user-info__avatar {
    width: 200px;
    margin-bottom: 80px;
}