.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    color: $white;

    &__btns {
        margin: 0 10px;
    }
}

.logo {
    font-size: 36px;
    font-weight: 800;
}