.sliders {
    height: 100vh;
}

.title-sliders {
    color: $titleS;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.container__sliders {
    width: 95%;
    margin: 0 auto;
    padding: 100px;
}

.sliders__col-left {
    width: 70%;
    flex-shrink: 0;
}

.sliders__works {
    height: 549px;
    position: relative;
    width: 100%;
}

.sliders__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}