.user-data {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &__desk {
        margin-right: 50px;
        text-align: right;
        font-weight: 600;
        color: $white;
        opacity: 0.4;
        font-size: 18px;
    }
}
