section.about-section
  .container
    .about
      .about__user-data
        .user-info
          .user-info__avatar
            .avatar
              +image('content/user.jpg', 'avatar__img')
          .user-info__content
            - 
              var userdata = [
                ["Проживаю:", "Рыбница"],
                ["Возраст:", "32 года"],
                ["Родился:", "22 декабря 1987"]
              ];
            table.user-info__data
              tbody.user-info__data-body
                each row in userdata
                  tr
                    td.t-col #{row[0]}
                    td #{row[1]}
                    td #{row[2]}
      .about__user-content
        .about__author
          .about__hello Привет, меня зовут
          h2.title.title-about Дмитрий Малуда
          p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .about__desk
          blockquote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          +icon("st", "st__icon")
