section.hero
  .container
    include ../pug/header
    .hero__content
      .user-data
        .user-data__desk Личный сайт вэб разработчика
        h1.title.title-hero Дмитрий Малуда
    .hero__bottom-btn
      a(href="").scroll-down-btn Скролл
      +icon("Scroll", "scroll__icon")